<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Customer Order Form</title>
</head>
<body>
    <div class="single-work">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1 mb-40">
                    <h1 class="title mb-30">Customer Portal</h1>
                    <p class="mb-30">
                        Customer Portal is a ASP.NET Web application which builded with MVC with using microservices and OOP structure. Each customer has a password section in NAV(Customer Card), and they will be able to
                        access customer portal once an Username and Password provided by authorized user. Customer can create a Sales Quote by in NAV by ordering from Web Application, check open sales quotes,orders,shipments,invoices and
                        all open order status from left hand side menu.
                    </p>
                    <ul class="information">
                        <li><span class="title">Client:</span> Black Nova</li>
                        <li><span class="title">Website:</span> order.blacknova.co:8082</li>
                        <li><span class="title">Category:</span>Web</li>
                    </ul>

                    <figure class="mt-30"><img src="/Template/img/portfolio/Customer Portal/LoginPage.PNG" alt=""></figure>
                    <figure class="mt-30"><img src="/Template/img/portfolio/Customer Portal/Index.PNG" alt=""></figure>
                    <figure class="mt-30"><img src="/Template/img/portfolio/Customer Portal/Cart.png" alt=""></figure>


                </div>
            </div>
        </div>
    </div>
</body>

</html>
