<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Production Tracker</title>
</head>
<body>
    <div class="single-work">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1 mb-40">
                    <h1 class="title mb-30">Production Tracker</h1>
                    <p class="mb-30">
                        Production Tracker is an ASP.NET Web Application, which provides operators to track their own production orders online and see the all of their work queue. Each operator is defined as a
                        Dimension Value in Personal Dimension, the operator can log-in system with provided Username and Password. Production tracker has a feature to post order "temporarily",which indicates
                        real-time finished quantity until the real NAV order will be posted by Full-User. After posting the real order, the operator screen will be updated with real quantities.
                    </p>
                    <ul class="information">
                        <li><span class="title">Client:</span> Black Nova</li>
                        <li><span class="title">Website:</span> production.blacknova.co:8082</li>
                        <li><span class="title">Category:</span>Web</li>
                    </ul>

                    <figure class="mt-30"><img src="/Template/img/portfolio/Production Tracker/Login.png" alt=""></figure>
                    <figure class="mt-30"><img src="/Template/img/portfolio/Production Tracker/Index.png" alt=""></figure>
                    <figure class="mt-30"><img src="/Template/img/portfolio/Production Tracker/OrderDetails.png" alt=""></figure>
                    <figure class="mt-30"><img src="/Template/img/portfolio/Production Tracker/Post.png" alt=""></figure>


                </div>
            </div>
        </div>
    </div>
</body>

</html>
