<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Registration Form</title>
</head>
<body>
    <div class="single-work">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-10 offset-md-1 mb-40">
                    <h1 class="title mb-30">Contact Registration Form</h1>
                    <p class="mb-30">
                        Contact Registration Form is a ASP.NET Web Application, which provides a potential contact to fill up information properly. Once the form is submitted, there will be a new contact card created
                        in NAV, and contact Questionnaire Profile will be fulfilled automatically. And relevant salespersons and sales manager will be notified via e-mail
                    </p>
                    <ul class="information">
                        <li><span class="title">Client:</span> Black Nova</li>
                        <li><span class="title">Website:</span> register.blacknova.co:8082</li>
                        <li><span class="title">Category:</span>Web</li>
                    </ul>

                    <figure class="mt-30"><img src="/Template/img/portfolio/Registration/1.PNG" alt=""></figure>
                    <figure class="mt-30"><img src="/Template/img/portfolio/Registration/2.PNG" alt=""></figure>
                    <figure class="mt-30"><img src="/Template/img/portfolio/Registration/3.PNG" alt=""></figure>
                    <figure class="mt-30"><img src="/Template/img/portfolio/Registration/4.PNG" alt=""></figure>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
